In [1]:
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
with open('wikipedia_polska.txt', 'r', encoding='utf8') as file:
    text = file.read()

In [3]:
soup = BeautifulSoup(text, 'html.parser')

In [4]:
table = soup.find_all('table', class_='wikitable sortable jquery-tablesorter')

names = []
for element in table[0].find('thead').find('tr').find_all('th'):
    name = element.text.strip()

    if name:
        names.append(name)
    else:
        names.append('Nr')

names

['Nr', 'Miasto', 'Liczba mieszkańców', 'Województwo']

In [5]:
data = []
for row in table[0].find('tbody').find_all('tr'):
    found = row.find_all('td')

    data.append([])
    for i, element in enumerate(found):
        text = element.text.strip()

        if i == 2:
            text = text.replace(' ', '')

        data[-1].append(text)

In [6]:
df = pd.DataFrame(data, columns=names)
df['Nr'] = df['Nr'].astype(int)
df['Liczba mieszkańców'] = df['Liczba mieszkańców'].astype(int)
df.set_index('Nr', inplace=True)

df

                 Miasto  Liczba mieszkańców          Województwo
Nr
1              Warszawa             1860281          mazowieckie
2                Kraków              800653          małopolskie
3               Wrocław              672929         dolnośląskie
4                  Łódź              670642              łódzkie
5                Poznań              546859        wielkopolskie
6                Gdańsk              486022            pomorskie
7              Szczecin              396168   zachodniopomorskie
8             Bydgoszcz              337666   kujawsko-pomorskie
9                Lublin              334681            lubelskie
10            Białystok              294242            podlaskie
11             Katowice              285711              śląskie
12               Gdynia              244969            pomorskie
13          Częstochowa              217530              śląskie
14                Radom              209296          mazowieckie
15                Toruń              198273   kujawsko-pomorskie
16            Sosnowiec              197586              śląskie
17              Rzeszów              195871         podkarpackie
18               Kielce              186894       świętokrzyskie
19              Gliwice              177049              śląskie
20               Zabrze              170924              śląskie
21              Olsztyn              170225  warmińsko-mazurskie
22        Bielsko-Biała              169756              śląskie
23                Bytom              163255              śląskie
24         Zielona Góra              140002             lubuskie
25               Rybnik              137128              śląskie
26          Ruda Śląska              136423              śląskie
27                Opole              127387             opolskie
28                Tychy              126871              śląskie
29  Gorzów Wielkopolski              119964             lubuskie
30               Elbląg              118582  warmińsko-mazurskie
31     Dąbrowa Górnicza              118285              śląskie
32                Płock              118268          mazowieckie
33            Wałbrzych              109971         dolnośląskie
34            Włocławek              108561   kujawsko-pomorskie
35               Tarnów              107498          małopolskie
36              Chorzów              106846              śląskie
37             Koszalin              106235   zachodniopomorskie

In [7]:
df.to_excel('data.xlsx')